@font-face {
    font-family: "Mont-Regular";
    src: url("./fonts/Mont-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mont-Bold";
    src: url("./fonts/Mont-Bold.otf");

    font-weight: bold;
    font-style: bold;
  }

@font-face {
  font-family: "Mont-Black-Italic";
  src: url("./fonts/Mont-Black-Italic.otf");
}

@font-face {
  font-family: "Mont-Black";
  src: url("./fonts/Mont-Black.otf");
}

@font-face {
  font-family: "Mont-Bold-Italic";
  src: url("./fonts/Mont-Bold-Italic.otf");
}

@font-face {
  font-family: "Mont-Light";
  src: url("./fonts/Mont-Extra-Light.otf");
}

@font-face {
  font-family: "Mont-Light-Italic";
  src: url("./fonts/Mont-ExtraLight-Italic.otf");
}

@font-face {
  font-family: "Mont-Heavy-Italic";
  src: url("./fonts/Mont-Heavy-Italic.otf");
}

@font-face {
  font-family: "Mont-Heavy";
  src: url("./fonts/Mont-Heavy.otf");
}

@font-face {
  font-family: "Mont-Light-Italic";
  src: url("./fonts/Mont-Light-Italic.otf");
}

@font-face {
  font-family: "Mont-Light";
  src: url("./fonts/Mont-Light.otf");
}

@font-face {
  font-family: "Mont-Regular-Italic";
  src: url("./fonts/Mont-Regular-Italic.otf");
}

@font-face {
  font-family: "Mont-Semi-Bold-Italic";
  src: url("./fonts/Mont-SemiBold-Italic.otf");
}

@font-face {
  font-family: "Mont-Semi-Bold";
  src: url("./fonts/Mont-SemiBold.otf");
}

@font-face {
  font-family: "Mont-Thin-Italic";
  src: url("./fonts/Mont-Thin-Italic.otf");
}

@font-face {
  font-family: "Mont-Thin";
  src: url("./fonts/Mont-Thin.otf");
}